<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gramvalgt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="CSS/Estilos.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg justify-content-center sticky-top">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contacto">Presupuestos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Construcción </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#remodelacion">Remodelaciones</a>
                    <a class="dropdown-item" href="#reparacion">Reparaciones</a>
                    <a class="dropdown-item" href="#edificacion">Edificaciones</a>
                    <a class="dropdown-item" href="#pisos">Pisos</a>
                    <a class="dropdown-item" href="#baños">Baños</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Electricidad </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#instindustriales">Instalaciones Industriales</a>
                    <a class="dropdown-item" href="#instdomiciliares">Instalaciones Domiciliares</a>
                    <a class="dropdown-item" href="#bombas">Bombas de Agua</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Herreria
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#herreria">Puertas</a>
                    <a class="dropdown-item" href="#herreria">Balcones</a>
                    <a class="dropdown-item" href="#herr">Techos</a>
                    <a class="dropdown-item" href="#herr">Soldadura en General</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contacto">Contactos</a>
            </li>
        </ul>
    </nav>
    <H1> </H1>

    <header id=inicio>
        <div class="container-fluid mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-3 mt-5">
                        <img src="https://inmobiliare.com/himalaya/wp-content/uploads/2020/10/Claves-para-innovar-en-el-negocio-de-construccion-inmobiliario-e1602697104532.jpg"
                            alt="" width="550" height="290">
                    </div>
                    <div class="col-md-6 mt-5">
                        <h1>Sobre Nosotros</h1>
                        <p style=text-align:justify> Somos una empresa constructora en Guatemala dedicada a brindar
                            soluciones integrales en proyectos de planificación, construcción, rehabilitación,
                            remodelación y mantenimiento, buscando de manera continua la satisfacción de nuestros
                            clientes en Guatemala y otros países.

                            Utilizando la más alta tecnología y la especialización de nuestros colaboradores, para
                            desarrollar proyectos de calidad y satisfacer la demanda a precios competitivos, cumpliendo
                            con los tiempos de entrega y servicios postventa eficientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div id=remodelacion class="container mt-3 ">
            <H1>Remodelación | Oficinas | Casas | Comerciales | Industria |</H1>
            <p class="text-center">Realizamos Remodelaciones de todo Tipo. Casas | Oficinas | Bodegas | Locales
                Comerciales</p>
            <H1>¿Qué es Una Remodelación?</H1>
            <p style=text-align:justify>Una remodelacion es una transformación sustancial de algo. La idea de
                remodelacion está asociada al concepto de cambio, pero no en un sentido secundario sino que el cambio es
                significativo. El uso más frecuente del término está vinculado a las obras que se realizan en un
                edificio para modificar las características de la construcción. Se trata de proyectos que suelen dirigir
                arquitectos, ya que pueden tener una gran magnitud.</p>
            <img class="centrado "
                src="https://mmatt.mx/wp-content/uploads/2019/03/contratar-empresa-remodelar-espacio-mmatt-arquitectos-1.jpg"
                alt="" width="728" height="540">
        </div>

        <div id=reparacion class="container mt-3">
            <H1>Servicios de mantenimiento y reparación para casas, departamentos, edificios y oficinas
            </H1>
            <h2>¿Necesitas hacer reparaciones o mantenimiento a tu casa, departamento u oficina ?</h2>
            <p style=text-align:justify>Cuando tu hogar se encuentra descuidado es posible que baje su valor comercial y
                que además, este en riesgo tu familia por mal funcionamiento de instalaciones electricas, hidraulicas y
                drenaje o fallas estructurales y deterioro de la construcción en general.

                Puedes ser que tengas pendiente ese mantenimiento o remodelación para darle una nueva imagen a tu hogar,
                como la pintura en paredes, remodelación del baño, remodelación de cocina o cualquier otro espacio
                interior o exterior que desees darla un toque personal para mejorar tú comodidad o funcionalidad.</p>
            <img class="centrado "
                src="https://lh3.googleusercontent.com/proxy/_1azfCIFIw3ck0M9CwMOv6a_LA8ZiStgoRaWyDo8F3fcadi1ZBVVdKbY8iyIq6dA_DTOufxAcMrl-hwzZxA7V614R7tmPEW6DrRQaeL0wlwqr6_Hf9QCcx2n8sdPAEsUOLjvpcHYvlmFtwr5W9HoYBZ5xkD4aIRctN_MiFYdmV9T5CpsmaQi"
                alt="" width="800" height="400">
        </div>

        <div id=edificacion class="container mt-3">
            <H1>INVIERTA SU FUTURO EN PROFESIONALES DE LA CONSTRUCCIÓN</H1>
            <h2>Construcción Residencial y Comercial</h2>
            <p style=text-align:justify>Podemos hacer realidad su proyecto encargándonos de todo.
                Para ello contamos con profesionales en la construcción, materiales de alta calidad, personal calificado
                y responsable, además de la supervisión constante asegurando la correcta ejecución y rendimiento de su
                proyecto. En Gramvalgt contamos con asesoría personalizada para encaminar su proyecto en la vía
                correcta. Permitanos
                ser el aliado fiable para su inversión Contamos con el respaldo de amplia experiencia comprobable en la
                industria con proyectos desarrollados
                satisfactoriamente en distintos puntos del país. </p>
            <img class="centrado " src="https://fiic.la/blog/wp-content/uploads/2019/07/Articuloguateweb.jpg" alt=""
                width="900" height="600">
        </div>

        <div id=pisos class="container mt-3">
            <H1>Pisos cerámicos y azulejos para todo tipo de estancias: baños, cocinas, salones, exteriores y espacios
                comerciales.</H1>
            <img class="centrado " src="https://tekno-step.com/img/blog/ventajas-de-usar-pisos-spc-ext.jpg" alt=""
                width="728" height="540">
        </div>

        <div id=baños class="container mt-3 ">
            <H1>Decoracion de Baños</H1>
            <p style=text-align:justify>Se trabaja con las mejores marcas de productos importados y nacionales para
                baños del mercado ofreciendo los mejores productos a buen precio.</p>
            <img class="centrado " src="https://bloghogar.com/wp-content/uploads/2021/03/banos-modernos-2021.jpg" alt=""
                width="800" height="540">
        </div>
    </section>

    <h1> </h1>

    <section>
        <div id=instindustriales class="container p-3 mb-2">
            <h1 class="text-center">Electricidad</h1>
            <div class="row">
                <div class="col order-last">
                    <h1>Instalaciones Industriales</h1>
                    <p style=text-align:justify>Las instalaciones eléctricas industriales son conexiones fundamentales
                        ya que son la fuente de
                        suministro eléctrico de las empresas. Conocer los productos de una instalación nos da el
                        conocimiento general para instalar un servicio acorde y, sobre todo, sin riesgos.</p>
                    <img class="centrado "
                        src="https://www.tusocal.com/blog/wp-content/uploads/2019/10/instalaciones-electricas-industriales-1000x576.jpg"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div id="instdomiciliares" class="container">
            <div class="row">
                <div class="col order-last">
                    <h1>Instalaciones Domiciliares</h1>
                    <p style=text-align:justify> La energía eléctrica es indispensable en la mayoría de las actividades
                        del ser humano, tanto en
                        labores cotidianas domésticas como industriales.
                        A diario utilizamos electrodomésticos como lámparas, grabadoras, equipos de sonido, planchas,
                        televisores, computadores, etc. Todos funcionan con energía eléctrica. También en la industria,
                        la energía es soporte para el desarrollo, convirtiéndose asi, en la principal fuente de
                        alimentación de motores y equipos en general.
                        La energía eléctrica es imprescindible en nuestro diario vivir, es el eje principal del
                        desarrollo industrial, sin embargo, para un mejor aprovechamiento debemos tomar las precauciones
                        necesarias para no poner en peligro nuestra integridad física y material. Es de vital
                        importancia que una red eléctrica bien usada – industrial o domestica - optimiza el
                        funcionamiento de los equipos y disminuye el riesgo eléctrico.</p>
                </div>
            </div>
            <div class="container p-3">
                <div class="row">
                    <div class="col order-last">
                        <h2>Lamparas</h2>
                        <p style=text-align:justify>Compra una gran variedad de productos en el departamento de Lámparas
                            en Gramvalgt.</p>

                    </div>
                    <div class="col order-last">
                        <h2>Toma Corrientes</h2>
                        <p style=text-align:justify>Compra una gran variedad de productos en el departamento de
                            tomacorrientes en Gramvalgt</p>

                    </div>
                    <div class="col order-last">
                        <h2>Three-way</h2>
                        <p style=text-align:justify>Conexiones Three Way es una de las conexiones que ha alcanzado mas
                            popularidad en las
                            instalaciones eléctricas habitacionales e industriales, esto se debe a la facilidad que le
                            da al usuario y a las industrias para el uso y distribución de la corriente eléctrica.
                        </p>
                    </div>
                    <div class="col order-last">
                        <h2>Four-way</h2>
                        <p style=text-align:justify>Este tipo de Interruptor se utiliza para gobernar una o varias
                            lámparas desde varios puntos
                            diferente, en combinación con dos three Way. Tanto los interruptores de una vía, de tres
                            vías y de cuatro pueden tener el mismo diseño y forma.</p>

                    </div>
                </div>

            </div>
            <div class="container p-3">
                <div class="row">
                    <div class="col order-last">
                        <img src="https://megalamparas.com.gt/wp-content/uploads/2020/06/l%C3%A1mparas-de-techo-led.jpg"
                            class="img-fluid" alt="">
                    </div>
                    <div class="col order-last">
                        <img src="https://assets.tramontina.com.br/upload/blog_post/1554234598_giz_fendi_2_destaque_no_blog_2p_normal.jpg"
                            class="img-fluid" alt="">
                    </div>
                    <div class="col order-last">
                        <img src="https://www.ecured.cu/images/thumb/4/42/Three_way.gif/260px-Three_way.gif"
                            class="img-fluid" alt="">
                    </div>
                    <div class="col order-last">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/4-way_switches_position_4.svg/350px-4-way_switches_position_4.svg.png"
                            class="img-fluid" alt="">
                    </div>

                </div>
                <div id=bombas class="container mt-3">
                    <H1>¡Expertos en Bombas para Agua!
                    </H1>
                    <h2>Bombas para agua uso: Residencial, Comercial e Industrial</h2>
                    <p style=text-align:justify>Las bombas de agua para residencias más duraderas y resistentes del
                        mercado.
                        Resuelva su problema del agua con nosotros. Contamos con un amplio stock de bombas de agua,
                        desde verticales hasta dosificadoras de cloro líquido.</p>
                    <img class="centrado "
                        src="https://lh3.googleusercontent.com/proxy/V6zoMboLp28sOvfWxWz3zWnyoU0K40rLgfo0ZJ4nPDSIynper9B6axWv-tvV5ilu3q_0y1xbokjjqUtYtrOMRm-JDSNFxPxe00oP9H338pT3vAivHuN8TUUDmw"
                        alt="" class="img-fluid">
                </div>
    </section>
    <H1> </H1>
    <section id=herreria>
        <H1 class="text-center" >Herreria</H1>
        <div class="container p-3">
            <div class="row">
                <div class="col">
                    <h2>Puertas</h2>
                    <p style=text-align:justify>Se trabaja con las mejores marcas en el mercado expertas en alta
                        calidad para
                        puertas para ofrecer producto de diferentes estilos y diseños..</p>

                </div>
                <div class="col">
                    <h2>Balcones</h2>
                    <p style=text-align:justify>Trabajamos con distintos tipos de balcones trabajando siempre con los
                        mejores materiales de construccion
                        para ofrecer el mejor diseño y durabilidad.</p>
                </div>

                <div class="container p-3">
                    <div class="row">
                        <div class="col ">
                            <img class="centrado " src="http://pm1.narvii.com/6397/84566fb9c2b3d162198c65b372659ecaa43b4a79_00.jpg"
                            width="500" height="400" alt="">
                        </div>
                        <div class="col ">
                            <img class="centrado " src="https://cdn.pixabay.com/photo/2016/10/06/17/28/architecture-1719526_960_720.jpg"
                            width="500" height="400" alt="">
                        </div>

                        <div id= "herr" class="container p-3">
                            <div class="row">
                                <div class="col">
                                    <h2>Techos</h2>
                                    <p style=text-align:justify>El techo es la parte principal de la casa, al cual es
                                        construida para proteger a las personas que viven en el hogar de las condiciones
                                        atmosféricas. Este material es muy resistente ya que recibe todos los golpes del
                                        día como son: el sol, la lluvia, calor, frio y el viento durante todo el año.</p>

                                </div>
                                <div class="col">
                                    <h2>Soldadura en General</h2>
                                    <p style=text-align:justify>Somos especialistas y profesionales en soldaduras de acero inoxidable, hierro, bronce, latón y aluminio, entre otras aleaciones.
                                        Contamos con un equipo humano bien formado y con experiencia.                                       
                                        La empresa dispone de los mejores medios para aplicar técnicas de soldar en sectores como la robótica avanzada, así como el de la calderería industrial.                            
                                        Desarrollamos proyectos de diferente envergadura como piezas seriadas y fabricación a medida.</p>
                                </div>

                                <div class="container p-3">
                                    <div class="row">
                                        <div class="col order-last">
                                            <img class="centrado " src="https://i.pinimg.com/originals/7b/b6/e3/7bb6e30f1898cfdb213a9a9188d4913f.jpg"
                                            width="500" height="400" alt="">
                                        </div>
                                        <div class="col order-last">
                                            <img class="centrado " src="https://www.metalindustrias.com.pe/wp-content/uploads/2018/03/banner2.jpg"
                                            width="500" height="400" alt="">
                                        </div>

    </section>
<H1> </H1>
    <footer id=Contacto>
        <div class="row">
            <div class="col order-last mt-3">
                <p class="text-center"><a class="font-weight-bold" href="https://www.facebook.com/"> <img
                            src="https://image.flaticon.com/icons/png/512/1312/1312139.png" width="40" height="40">
                        Gramvalgt </a></p>
                <p class="text-center"><a class="font-weight-bold" href="https://web.whatsapp.com/"> <img
                            src="https://image.flaticon.com/icons/png/512/2111/2111728.png" width="40" height="40">
                        +502
                        5516 7200 </a></p>
                <p class="text-center"><a class="font-weight-bold" href="https://mail.google.com/mail?hl=es">
                        <img src="https://image.flaticon.com/icons/png/512/1789/1789333.png" width="40" height="40">
                        Atencionalcliente@gramvalgt.com </a></p>
                <p class="text-center"><a class="font-weight-bold" href="https://www.google.com/maps/?hl=es">
                        <img src="https://image.flaticon.com/icons/png/512/854/854878.png" width="40" height="40">
                        Av.
                        Ismael Arriaza 6-49 Zona 1 Sanarate, El Progreso </a></p>
            </div>

            <div class="col-6 label">
                <label for="exampleFormControlInput1" class="form-label"></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                <label for="exampleFormControlInput1" class="form-label"></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mensaje"
                    rows="3"></textarea>
                <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Solicitar
                        Presupuesto</button>
                </div>
            </div>
        </div>
        <p style=text-align:center>Pagina Hecha por Esdras Mefiboseth Morales Espina 0907-18-9909</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>